<div id="console" class="container">
  <div id="output"></div>
  <div id="input">
    <form action="/send_command" id="command-form">
      <span id="player_name">player@oasis $&gt;</span>
      <input type="text" id="user_input" class="" autofocus>
    </form>
  </div>
</div>


<script src="js/console.js"></script>
