<div id="console" class="container">
  <div class="output">
    <p class="type-text"></p>
  </div>
  <div class="input">
    <form action="/send_command" id="command-form">
      <span id="player_name">player@oasis $&gt;</span>
      <input type="text" id="user_input" class="" autofocus>
    </form>
  </div>
</div>


<script src="js/console.js"></script>
